@import 'typography';
@import 'variables';
@import 'slider';

div.content-wrapper {
  margin: 0 32px;

  @media (max-width: $mobile) {
    margin: 0 16px;
  }
}

.page__title {
  padding: 30px 0 52px 0;
  display: flex;
  width: 100%;
  max-width: $desktop-content;
  margin: 0 auto;

  @include fontLatoLight;
  text-transform: uppercase;
  color: $color_d;

  position: relative;

  &.feedback {
    padding-top: 57px;
  }

  @media (max-width: $mobile) {
    font-size: 30px;
    line-height: 32px;
    // padding: 30px 16px 52px 16px;
    // word-break:
  }

  .arrows-block {
    // padding: 0 32px; 
    // margin: 0 32px;
    position: absolute;
    bottom: 10px;
    left: 0;
    width: 100%;

    .arrows-block__wrapper {
      display: flex;
      justify-content: space-between;
  
      img {
        width: 152px;
      }
    
      a:first-child {
        img {
          transform: rotate(180deg);
        }
      }
    }
  }

}



.section {
  &__description {    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: #F7F7F7;
    // padding: 0 32px;
    // padding: 0 32px;

    @media (max-width: $mobile) {
      // padding: 0 16px;
    }

    .section__wrapper {
      display: flex;
      flex-direction: column;

      // box-sizing: content-box;
      max-width: $desktop-content;
      margin: 0 32px;
      // padding: 0 32px;

      width: 100%;

      @media (max-width: calc($desktop-content + 64px)) {
        padding: 0 32px;
        margin: 0;
      }

      @media (max-width: $mobile) {
        margin: 0 16px;
      }
    }

    .section__container {
      display: flex;
      flex-direction: row;
      width: 100%;
      // max-width: $desktop-content;
      // margin: 0 auto;

      
      @media (max-width: $mobile) {
        flex-direction: column;
      }

      .left-block {
        display: flex;
        flex-direction: column;

        width: calc(100% - 300px);

        @media (max-width: $mobile) {
          width: 100%;
        }
      }

      .right-block {
        display: flex;
        width: 300px;
        min-width: 300px;

        @media (max-width: $mobile) {
          width: 100%;
        }
      }
    }
  }
}

// house description at the up right corner 
.description-column {
  padding: 20px 0 20px 32px;

  @media (max-width: $mobile) {
    padding: 20px 0 20px 0;
    width: 100%;
  }

  .block-title {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__text {
      @include fontRobotoNormal;
      color: $color_d;
    }

    &__button {
      @include fontLatoRegular;
      text-decoration-line: underline;
      color: $color_gr;
      cursor: pointer;
    }
  }

  .block-content {
    margin: 24px 0 0 0;

    // блок "Комплектации"
    .complectation {
      display: flex;
      flex-direction: column;
      margin-bottom: 24px;

      .complect-item {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;

        border: 1px solid $color_sa;
        cursor: pointer;
        
        &:first-child {
          border-bottom: unset;
        }

        &.active {
          border: 1px solid $color_gr;
    
          .complect-item__description {
            display: flex;
            width: 100%;
          }
    
          .complect-item__title {
            color: $color_gr;
          }
        }

        &__title {
          @include fontLatoRegular;
          font-size: 14px;
          line-height: 21px;
          color: $color_sa;
          padding: 12px 18px;
        }

        &__description {
          display: none;
          flex-direction: column;
          background: $color_gr;
          padding: 18px;

          span, a {
            @include fontLatoRegular;
            font-size: 12px;
            line-height: 21px;
            color: white;
          }

          a {
            text-decoration-line: underline;
            cursor: pointer;
            margin-top: 8px;
          }
        }
      }
    }



    // last column with the price and discount values
    &.block-content__price {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: flex-end;
      
      margin-top: 12px;
      // @media (max-width: $tablet) {
      //   align-items: end;
      // }

      .price-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;
        width: 100%;


        .payment-delivery {
          @include fontLatoRegular;
          font-size: 12px;
          line-height: 14px;
          color: $color_gr;
          white-space: nowrap;
          text-decoration-line: underline;
        }

        .order-button {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 40px;
          width: 100%;
          margin: 16px 0 4px;

          color: white;
          background: $color_gr;

          border: 1px solid $color_gr;

          @include fontRobotoNormal;
          font-size: 12px;
          line-height: 14px;
          text-decoration-line: none;
        }

        .discount-text {
          margin-top: 4px;

          @include fontRobotoNormal;
          font-size: 14px;
          line-height: 16px;
          text-align: right;
          text-decoration-line: line-through;
          color: $color_sa;
          margin-bottom: unset;
        }

        .discount-value {
          margin-top: 4px;

          @include fontRobotoBold;
          font-size: 14px;
          line-height: 16px;
          color: $color_gr;
        }

        .price-value {
          margin-top: 8px;

          @include fontLatoBold;
          font-size: 36px;
          line-height: 36px;
          text-transform: uppercase;
          color: $color_gr;
          white-space: nowrap;
        }

        
        .price-credit {
          margin-top: 8px;
          @include fontRobotoNormal;
          font-size: 14px;
          line-height: 16px;
          color: $color_gr;
          white-space: nowrap;
          text-decoration-line: underline;
        }
      }
    }
  }
}

// блок "Дополнительные опции"
.additional-options {
  width: 100%;

  .option-item {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    &:not(:last-child) {
      margin-bottom: 15px;
    }

    // custom checkbox styles
    .checkbox-container {
      display: block;
      position: relative;
      padding-left: 35px;
      margin-right: 12px;

      // margin-bottom: 12px;
      cursor: pointer;

      @include fontLatoRegular;
      font-size: 14px;
      line-height: 24px;
      color: $color_gray4;
      
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;

      /* Hide the browser's default checkbox */
      & input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
      }

      /* Create a custom checkbox */
      .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 24px;
        width: 24px;
        // background-color: #eee;

        background-image: url("../img/checkbox-unchecked.png");
        background-size: cover;
        background-position:center ;
        background-repeat: no-repeat;
      }

      /* Create the checkmark/indicator (hidden when not checked) */
      .checkmark:after {
        content: "";
        position: absolute;
        display: none;               
      }

      /* On mouse-over, add a grey background color */
      &:hover input ~ .checkmark {
        // background-color: #ccc;
        // box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      }

      /* When the checkbox is checked, add a blue background */
      input:checked ~ .checkmark {
        // background-color: #2196F3;
        background-image: url("../img/checkbox-checked.png");

      }

      /* Show the checkmark when checked */
      input:checked ~ .checkmark:after {
        display: block;
      }
      

      /* Style the checkmark/indicator */
      .checkmark:after {
        // background-image: url("../img/checkbox-checked.png");
        // background-size: cover;
        // background-position:center ;
        // background-repeat: no-repeat;
        // left: 9px;
        // top: 5px;
        // width: 5px;
        // height: 10px;
        // border: solid white;
        // border-width: 0 3px 3px 0;
        // -webkit-transform: rotate(45deg);
        // -ms-transform: rotate(45deg);
        // transform: rotate(45deg);
      }

    }

    // right part of the checkbox - button Вкл
    &__button {
      @include fontLatoRegular;
      font-size: 12px;
      line-height: 14px;

      color: $color_gr;
      cursor: pointer;

      &.hidden {
        display: none;
      }
    }

    // right part of the checkbox - the price
    &__price {
      @include fontLatoRegular;
      font-size: 12px;
      line-height: 14px;
      white-space: nowrap;

      color: $color_d;

      &.hidden {
        display: none;
      }
    }
  }
}

.column-bottom-5 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  margin-top: 50px;
  // padding-bottom: 50px;
  
  .column-bottom-5 .item {
    width: 14%;
  }
  
  .item {
    .title {
      @include fontLatoRegular;
      font-size: 18px;
      line-height: 24px;
      color: $color_w;
      margin-bottom: 12px;

      @media (max-width: $mobile) {
        font-size: 16px;
        line-height: 18px;
      }
    }
    
    .text {
      @include fontLatoBold;
      font-size: 24px;
      line-height: 24px;
      color: $color_w;

      @media (max-width: $mobile) {
        font-size: 22px;
        line-height: 22px;
      }
    }
  }

}

@media screen and (max-width: 1024px) {
  .column-bottom-5 .item {
    width: 30%;
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 576px) {
  .column-bottom-5 .item {
    width: 49%;
  }
}


.section__feedback {
  display: flex;
  width: 100%;
  // height: 300px;
  // max-height: 600px;

  .feedback-slider {
    width: 100%;
    height: 100%;
    overflow: hidden;

    .swiper-slide {
      display: flex;
      max-width: 640px;

      @media (max-width: $mobile) {
        max-width: unset;
      }
      
      img {
        display: block;
        width: 100%;
        height: 100%;
        // height: 360px;
        max-height: 360px;
        // max-width: 640px;
  
        object-fit: cover;
      }
    }

    .swiper-slide > .slide-wrapper {

      height: 100%;;

      .feedback-content__wrapper {
        display: flex;
        flex-direction: column;

        position: relative;
        margin-top: 74px;
        padding: 16px;

        @media (max-width: $mobile) {
          max-width: unset;
          margin-top: 32px;
        }

        .quote-icon {
          position: absolute;
          width: 38.5px;
          height: 33.2px;
          left: 8px;
          top: -12px;
          background-image: url("../img/quote.svg");
          background-size: cover;
          background-position:center ;
          background-repeat: no-repeat;
        }

        img {
          display: block;
          width: 100%;
          height: 100%;
          max-height: 360px;
    
          object-fit: cover;
        }

        .feedback-content {
          margin-bottom: 25px;

          @include fontLatoRegular;
          font-size: 14px;
          line-height: 16px;
          color: $color_gray;
        }

        .feedback-author {
          @include fontLatoBold;
          font-size: 14px;
          line-height: 16px;
          text-transform: uppercase;
          color: $color_d;
        }
      }
    }



    // .swiper-slide {
    //   width: 60%;
    // }
  }
}

.section__product-tabs {
  // max-width: $desktop-content;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  
  .section__wrapper {
    box-sizing: content-box;
    max-width: $desktop-content;
    margin: 0 32px;
    width: 100%;
    
    @media (max-width: $mobile) {
      margin: 0 16px;
    }
  }

  // buttons (tabs)
  .product-tabs__container {
    display: flex;
    flex-direction: row;
    background: $color_bg;

    margin: 60px 0px 0px;
    // padding: 0 32px;

    height: 45px;

    @media (max-width: $tablet) {
      flex-direction: column;
      height: unset;
    }

    @media (max-width: $mobile) {
      margin: 32px 0px 0px;
    }

    .product-tab__item {
      // width: 19%;
      // height: 46px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      flex: 1 1 auto; 
      white-space: nowrap;

      // width: 100%;
      height: 100%;
      
      padding: 0 32px;

      cursor: pointer;
      @include fontLatoRegular;
      font-size: 20px;
      line-height: 24px;
      
      letter-spacing: -0.2px;
      color: $color_w;

      text-decoration: none;
      transition: all 0.3s ease-in-out;

      &.active {
        color: white;
        background: $color_gr;
        transition: all 0.3s ease-in-out;
      }

      @media (max-width: $tablet) {
        height: 45px;
      }
    }
  }

  .complectation-container {
    display: none;
    // width: 100%;
    height: 63px;
    border: 1px solid $color_gr;
    margin-bottom: 30px;
    cursor: pointer;

    &.show {
      display: flex;
    }

    .complectation__item {
      display: flex;
      flex: 1 1 50%;
      justify-content: center;
      align-items: center;

      @include fontLatoRegular;
      font-size: 20px;
      line-height: 24px;
      color: $color_w;
      transition: all 0.3s ease-in-out ;

      &.active {
        color: $color_gr;
        background-color: rgba(12, 136, 76, 0.2);
        transition: all 0.3s ease-in-out ;
      }
    }
  }

  .product-tab__list-hide {
    display: none;
  }

  .table__container {
    margin-bottom: 60px;

    .table__header {
      @include fontLatoLight;
      font-size: 24px;
      line-height: 32px;
      text-transform: uppercase;
      color: $color_d;

      margin-bottom: 30px;
    }

    .table__description {
      @include fontLatoRegular;
      font-size: 18px;
      line-height: 24px;
      color: $color_w;

      margin-bottom: 30px;
    }


    .table__content {
      display: flex;
      flex-direction: column;
      margin-bottom: 100px;
      border: 1px solid $color_border;
      border-width: 0 0 1px 0;

      .table__row {
        display: flex;
        @media (max-width: $mobile) {
          flex-direction: column;
        }

        .table__cell-header {
          display: flex;
          align-items: center;
          flex: 1 0 35%;
          padding: 32px 32px 32px 70px;

          border: 1px solid $color_border;
          border-width: 1px 1px 0 1px;

          font-family: 'Inter';
          font-style: normal;
          font-weight: 700;
          font-size: 18px;
          line-height: 20px;
          color: black;

          @media (max-width: $tablet) {
            padding-left: 16px;
            padding-right: 16px;
          }
        }

        .table__cell-content {
          display: flex;
          flex: 1 1 65%;

          align-items: center;
          padding: 20px 32px;

          border: 1px solid $color_border;
          border-width: 1px 1px 0 0;

          font-family: 'Inter';
          font-style: normal;
          font-weight: 400;
          font-size: 18px;
          line-height: 20px;

          color: $color_sa;

          @media (max-width: $tablet) {
            padding-left: 16px;
            padding-right: 16px;
            border-left-width: 1px;
          }
        }
      }
    }

    .table__options {
      display: flex;
      margin-bottom: 42px;
      gap: 32px; 

      @media (max-width: 900px) {
        flex-direction: column;
      }

      .options-container {
        display: flex;
        flex: 1 1 40%;
      }

      .options-description {
        display: flex;
        flex-direction: column;
        flex: 1 1 60%;
        background-color: $color_gr;
        color: white;
        padding: 20px 24px 30px;

        &__text {
          @include fontLatoRegular;
          font-size: 18px;
          line-height: 20px;
          margin-bottom: 24px;
        }

        &__images {
          display: flex;
          gap: 26px;

          img {
            max-height: 134px;
            object-fit: cover;
          }

          @media (max-width: 640px) {
            flex-direction: column;
            img {
              max-height: unset;
              width: 100%;
            
            }
          }
        }


      }
    }

    .table__price {
      &-title {
        @include fontLatoRegular;
        font-size: 18px;
        line-height: 24px;  
        color: $color_gr;
        margin-bottom: 12px;
      }

      &-text {
        @include fontLatoBold;
        font-size: 24px;
        line-height: 24px;  
        color: $color_gr;
      }
    }
  }
}

.section__send-request {
  display: flex;
  width: 100%;
  margin: 0 auto;
  padding: 0 32px;
  background-color: $color_gr;

  @media (max-width: $mobile) {
    padding: 0 16px;
  }

  .section__wrapper {
    display: flex;
    width: 100%;;
    max-width: $desktop-content;
    margin: 64px auto;
    color: #FCFCFC;

    @media (max-width: 1024px) {
      flex-direction: column;
    }
  }

  .request-description-column {
    display: flex;
    flex-direction: column;
    flex: 1 1 50%;

    @media (max-width: 1024px) {
      flex: 1 1 auto;
      justify-content: center;
      margin-bottom: 32px;;

      span.request-title,  span.request-text { 
        text-align: center;
      }
    }

    span.request-title {
      @include fontLatoLight;
      font-size: 35px;
      line-height: 46px;
      text-transform: uppercase;
      margin-bottom: 32px;

      @media (max-width: $mobile) {
        font-size: 24px;
        line-height: 36px;
      }
    }

    span.request-text {
      display: flex;
      flex-direction: column; 

      @include fontLatoBold;
      font-size: 24px;
      line-height: 41px;
      // white-space: nowrap;
      text-transform: uppercase;

      @media (max-width: $mobile) {
        font-size: 18px;
        line-height: 32px;
      }
    }
  }

  .contacts-column {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex: 1 1 50%;

    &__button {
      @include fontLatoRegular;
      font-size: 18px;
      line-height: 22px;
      white-space: nowrap;
      text-transform: uppercase;
      text-decoration: unset;
      color: white;

      padding: 17px 77px;
      margin-bottom: 24px;
      border: 1px solid white;

      @media (max-width: $mobile) {
        padding: 17px 48px;
      }
    }

    &__phone {
      @include fontLatoBold;
      font-size: 32px;
      line-height: 41px;
      white-space: nowrap;
      text-decoration: unset;

      color: #FCFCFC;

      @media (max-width: $mobile) {
        font-size: 24px;
        line-height: 32px;
      }
    }
  }
}