@font-face {
  font-family: "Lato";
  src: url("../fonts/latolight.woff2") format("woff2"), url("../fonts/latolight.woff") format("woff"), url("../fonts/latolight.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Lato";
  src: url("../fonts/latoregular.woff2") format("woff2"), url("../fonts/latoregular.woff") format("woff"), url("../fonts/latoregular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Lato";
  src: url("../fonts/latobold.woff2") format("woff2"), url("../fonts/latobold.woff") format("woff"), url("../fonts/latobold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
.swiper-container {
  width: 100%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
}

.gallery-top {
  height: 500px;
  width: 100%;
  margin-bottom: 30px;
}

.gallery-thumbs {
  height: 160px;
  box-sizing: border-box;
}

.gallery-thumbs .swiper-slide {
  height: 100%;
  opacity: 0.4;
}

.gallery-thumbs .swiper-slide-thumb-active {
  opacity: 1;
}

.product_slider {
  background: #F7F7F7;
  display: block;
  width: 100%;
}
.product_slider .container2 {
  display: block;
  width: 100%;
}
.product_slider .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.product_slider .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.product_slider .gallery-thumbs .swiper-slide {
  background-size: cover;
  background-position: center;
}

.product_slider .swiper-button-next, .product_slider .swiper-button-prev {
  position: absolute;
  top: 50%;
  width: 50px;
  height: 50px;
  margin-top: calc(-1 * var(--swiper-navigation-size) / 2);
  z-index: 10;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  background: #0C884C;
}

.product_slider .swiper-button-next:after, .product_slider .swiper-button-prev:after {
  font-family: swiper-icons;
  font-size: 14px;
  text-transform: none !important;
  letter-spacing: 0;
  text-transform: none;
  font-variant: initial;
}

.product_slider .swiper-button-prev, .product_slider .swiper-container-rtl .swiper-button-next {
  left: 0;
}

.product_slider .swiper-button-next, .product_slider .swiper-container-rtl .swiper-button-prev {
  right: 0;
}

.swiper-slide:hover {
  opacity: 1;
}

.swiper-button-next, .swiper-container-rtl .swiper-button-prev {
  right: -70px;
}

.swiper-pagination-bullet-active {
  opacity: 1;
  background: #0C884C !important;
}

@media screen and (max-width: 1300px) {
  .swiper-button-next, .swiper-container-rtl .swiper-button-prev {
    right: 0;
  }
}
.page__title {
  padding: 30px 0 52px 0;
  display: flex;
  width: 100%;
  max-width: 1189px;
  margin: 0 auto;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 48px;
  line-height: 32px;
  text-transform: uppercase;
  color: #361F0D;
}

.section__description {
  display: flex;
  background-color: #F7F7F7;
}
.section__description .section__container {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 1189px;
  margin: 0 auto;
}
.section__description .section__container .left-block {
  display: flex;
  width: calc(100% - 300px);
}
.section__description .section__container .right-block {
  display: flex;
  width: 300px;
  min-width: 300px;
}
.section__description .description-column {
  padding: 20px 0 20px 32px;
}
.section__description .description-column .block-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section__description .description-column .block-title__text {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 19px;
  color: #361F0D;
}
.section__description .description-column .block-title__button {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  text-decoration-line: underline;
  color: #0C884C;
  cursor: pointer;
}
.section__description .description-column .block-content {
  margin: 24px 0 0 0;
}
.section__description .description-column .block-content .tech-build {
  margin-bottom: 24px;
}
.section__description .description-column .block-content .tech-build .row-images {
  display: flex;
  padding: 2px 0;
}
.section__description .description-column .block-content .tech-build .row-images .image-item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 32px;
  cursor: pointer;
}
.section__description .description-column .block-content .tech-build .row-images .image-item.active {
  background: #EFF8E6;
  border: 0.847826px solid #78A741;
}
.section__description .description-column .block-content .tech-build .row-images .image-item img {
  height: 38px;
}
.section__description .description-column .block-content .tech-build .row-text {
  display: flex;
  justify-content: space-evenly;
}
.section__description .description-column .block-content .tech-build .row-text .text-item {
  display: flex;
  justify-content: center;
  width: 50%;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 19px;
  font-size: 14px;
  line-height: 21px;
  color: #7C7C7C;
}
.section__description .description-column .block-content .complectation {
  display: flex;
  margin-bottom: 24px;
}
.section__description .description-column .block-content .complectation .complect-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 40px;
  border: 1px solid #0C884C;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 19px;
  font-size: 12px;
  line-height: 20px;
  color: #0C884C;
  cursor: pointer;
}
.section__description .description-column .block-content .complectation .complect-item.active {
  background: #0C884C;
  border: 1px solid #0C884C;
  color: #FFFFFF;
}
.section__description .description-column .block-content .additional-options .option-item {
  /* On mouse-over, add a grey background color */
  /* When the checkbox is checked, add a blue background */
  /* Show the checkmark when checked */
  /* Style the checkmark/indicator */
}
.section__description .description-column .block-content .additional-options .option-item .checkbox-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  /* Hide the browser's default checkbox */
  /* Create a custom checkbox */
  /* Create the checkmark/indicator (hidden when not checked) */
}
.section__description .description-column .block-content .additional-options .option-item .checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.section__description .description-column .block-content .additional-options .option-item .checkbox-container .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 24px;
  width: 24px;
  background-image: url("../img/checkbox-unchecked.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.section__description .description-column .block-content .additional-options .option-item .checkbox-container .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.section__description .description-column .block-content .additional-options .option-item .checkbox-container:hover input ~ .checkmark {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.section__description .description-column .block-content .additional-options .option-item .checkbox-container input:checked ~ .checkmark {
  background-image: url("../img/checkbox-checked.png");
}
.section__description .description-column .block-content .additional-options .option-item .checkbox-container input:checked ~ .checkmark:after {
  display: block;
}

/*# sourceMappingURL=styles.css.map */
