@font-face {
  font-family: "Lato";
  src: url("../fonts/latolight.woff2") format("woff2"), url("../fonts/latolight.woff") format("woff"), url("../fonts/latolight.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Lato";
  src: url("../fonts/latoregular.woff2") format("woff2"), url("../fonts/latoregular.woff") format("woff"), url("../fonts/latoregular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Lato";
  src: url("../fonts/latobold.woff2") format("woff2"), url("../fonts/latobold.woff") format("woff"), url("../fonts/latobold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
.swiper-container {
  width: 100%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
}

.gallery-top {
  height: 500px;
  width: 100%;
  margin-bottom: 30px;
}

.gallery-thumbs {
  height: 160px;
  box-sizing: border-box;
}

.gallery-thumbs .swiper-slide {
  height: 100%;
  opacity: 0.4;
}

.gallery-thumbs .swiper-slide-thumb-active {
  opacity: 1;
}

.product_slider {
  background: #F7F7F7;
  display: block;
  width: 100%;
}
.product_slider .container2 {
  display: block;
  width: 100%;
}
.product_slider .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.product_slider .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.product_slider .gallery-thumbs .swiper-slide {
  background-size: cover;
  background-position: center;
}

.product_slider .swiper-button-next, .product_slider .swiper-button-prev {
  position: absolute;
  top: 50%;
  width: 50px;
  height: 50px;
  margin-top: calc(-1 * var(--swiper-navigation-size) / 2);
  z-index: 10;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  background: #0C884C;
}

.product_slider .swiper-button-next:after, .product_slider .swiper-button-prev:after {
  font-family: swiper-icons;
  font-size: 14px;
  text-transform: none !important;
  letter-spacing: 0;
  text-transform: none;
  font-variant: initial;
}

.product_slider .swiper-button-prev, .product_slider .swiper-container-rtl .swiper-button-next {
  left: 0;
}

.product_slider .swiper-button-next, .product_slider .swiper-container-rtl .swiper-button-prev {
  right: 0;
}

.swiper-slide:hover {
  opacity: 1;
}

.swiper-button-next, .swiper-container-rtl .swiper-button-prev {
  right: -70px;
}

.swiper-pagination-bullet-active {
  opacity: 1;
  background: #0C884C !important;
}

@media screen and (max-width: 1300px) {
  .swiper-button-next, .swiper-container-rtl .swiper-button-prev {
    right: 0;
  }
}
.page__title {
  padding: 30px 32px 52px 32px;
  display: flex;
  width: 100%;
  max-width: 1189px;
  margin: 0 auto;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 48px;
  line-height: 52px;
  text-transform: uppercase;
  color: #361F0D;
}
@media (max-width: 768px) {
  .page__title {
    font-size: 30px;
    line-height: 32px;
    padding: 30px 16px 52px 16px;
  }
}

.section__description {
  display: flex;
  flex-direction: column;
  background-color: #F7F7F7;
  padding: 0 32px;
}
@media (max-width: 768px) {
  .section__description {
    padding: 0 16px;
  }
}
.section__description .section__container {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 1189px;
  margin: 0 auto;
}
.section__description .section__container .left-block {
  display: flex;
  width: calc(100% - 300px);
}
.section__description .section__container .right-block {
  display: flex;
  width: 300px;
  min-width: 300px;
}
.section__description .description-column {
  padding: 20px 0 20px 32px;
}
.section__description .description-column .block-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section__description .description-column .block-title__text {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 19px;
  color: #361F0D;
}
.section__description .description-column .block-title__button {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  text-decoration-line: underline;
  color: #0C884C;
  cursor: pointer;
}
.section__description .description-column .block-content {
  margin: 24px 0 0 0;
}
.section__description .description-column .block-content .tech-build {
  margin-bottom: 24px;
}
.section__description .description-column .block-content .tech-build .row-images {
  display: flex;
  padding: 2px 0;
}
.section__description .description-column .block-content .tech-build .row-images .image-item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 32px;
  cursor: pointer;
}
.section__description .description-column .block-content .tech-build .row-images .image-item.active {
  background: #EFF8E6;
  border: 0.847826px solid #78A741;
}
.section__description .description-column .block-content .tech-build .row-images .image-item img {
  height: 38px;
}
.section__description .description-column .block-content .tech-build .row-text {
  display: flex;
  justify-content: space-evenly;
}
.section__description .description-column .block-content .tech-build .row-text .text-item {
  display: flex;
  justify-content: center;
  width: 50%;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 19px;
  font-size: 14px;
  line-height: 21px;
  color: #7C7C7C;
}
.section__description .description-column .block-content .complectation {
  display: flex;
  margin-bottom: 24px;
}
.section__description .description-column .block-content .complectation .complect-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 40px;
  border: 1px solid #0C884C;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 19px;
  font-size: 12px;
  line-height: 20px;
  color: #0C884C;
  cursor: pointer;
}
.section__description .description-column .block-content .complectation .complect-item.active {
  background: #0C884C;
  border: 1px solid #0C884C;
  color: #FFFFFF;
}
.section__description .description-column .block-content .additional-options .option-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.section__description .description-column .block-content .additional-options .option-item:not(:last-child) {
  margin-bottom: 15px;
}
.section__description .description-column .block-content .additional-options .option-item .checkbox-container {
  display: block;
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  font-size: 14px;
  line-height: 24px;
  color: #495057;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  /* Hide the browser's default checkbox */
  /* Create a custom checkbox */
  /* Create the checkmark/indicator (hidden when not checked) */
  /* On mouse-over, add a grey background color */
  /* When the checkbox is checked, add a blue background */
  /* Show the checkmark when checked */
  /* Style the checkmark/indicator */
}
.section__description .description-column .block-content .additional-options .option-item .checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.section__description .description-column .block-content .additional-options .option-item .checkbox-container .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 24px;
  width: 24px;
  background-image: url("../img/checkbox-unchecked.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.section__description .description-column .block-content .additional-options .option-item .checkbox-container .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.section__description .description-column .block-content .additional-options .option-item .checkbox-container input:checked ~ .checkmark {
  background-image: url("../img/checkbox-checked.png");
}
.section__description .description-column .block-content .additional-options .option-item .checkbox-container input:checked ~ .checkmark:after {
  display: block;
}
.section__description .description-column .block-content .additional-options .option-item__button {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  font-size: 12px;
  line-height: 14px;
  color: #0C884C;
  cursor: pointer;
}
.section__description .description-column .block-content .additional-options .option-item__button.hidden {
  display: none;
}
.section__description .description-column .block-content .additional-options .option-item__price {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  font-size: 12px;
  line-height: 14px;
  color: #361F0D;
}
.section__description .description-column .block-content .additional-options .option-item__price.hidden {
  display: none;
}
.section__description .column_6 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  margin-top: 60px;
  padding-bottom: 50px;
}
.section__description .column_6 .column_6 .item {
  width: 14%;
}
.section__description .column_6 .item .title {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  font-size: 18px;
  line-height: 24px;
  color: #10252E;
  margin-bottom: 12px;
}
@media (max-width: 768px) {
  .section__description .column_6 .item .title {
    font-size: 16px;
    line-height: 18px;
  }
}
.section__description .column_6 .item .text {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  font-size: 24px;
  line-height: 24px;
  color: #10252E;
}
@media (max-width: 768px) {
  .section__description .column_6 .item .text {
    font-size: 22px;
    line-height: 22px;
  }
}
.section__description .column_6 .item.item-price {
  display: flex;
  align-items: center;
}
.section__description .column_6 .item.item-price .text {
  position: relative;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
  color: #0C884C;
  white-space: nowrap;
}
.section__description .column_6 .item.item-price .text-discount {
  position: absolute;
  right: 0;
  top: -30px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 19px;
  font-size: 14px;
  line-height: 16px;
  text-align: right;
  text-decoration-line: line-through;
  color: #7C7C7C;
  margin-bottom: unset;
}
@media (max-width: 768px) {
  .section__description .column_6 .item.item-price .text-discount {
    font-size: 10px;
    line-height: 12px;
  }
}
@media (max-width: 768px) {
  .section__description .column_6 .item.item-price .text {
    font-size: 24px;
    line-height: 24px;
  }
}
@media screen and (max-width: 1200px) {
  .section__description .column_6 .item {
    width: 30%;
    margin-bottom: 40px;
  }
}
@media screen and (max-width: 576px) {
  .section__description .column_6 .item {
    width: 49%;
  }
}

.section__product-tabs {
  margin: 0 auto;
}
.section__product-tabs .section__wrapper {
  box-sizing: content-box;
  max-width: 1189px;
  margin: 0 32px;
}
@media (max-width: 768px) {
  .section__product-tabs .section__wrapper {
    margin: 0 16px;
  }
}
.section__product-tabs .product-tabs__container {
  display: flex;
  flex-direction: row;
  background: #F8F8F8;
  margin: 60px 0px 30px;
  height: 45px;
}
@media (max-width: 1200px) {
  .section__product-tabs .product-tabs__container {
    flex-direction: column;
    height: unset;
  }
}
@media (max-width: 768px) {
  .section__product-tabs .product-tabs__container {
    margin: 60px 0px 30px;
  }
}
.section__product-tabs .product-tabs__container .product-tab__item {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex: 1 1 auto;
  white-space: nowrap;
  height: 100%;
  padding: 0 32px;
  cursor: pointer;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: #10252E;
  text-decoration: none;
}
.section__product-tabs .product-tabs__container .product-tab__item.active {
  color: white;
  background: #0C884C;
}
@media (max-width: 1200px) {
  .section__product-tabs .product-tabs__container .product-tab__item {
    height: 45px;
  }
}
.section__product-tabs .table__container {
  margin-bottom: 60px;
}
.section__product-tabs .table__container .table__header {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 48px;
  line-height: 52px;
  font-size: 24px;
  line-height: 32px;
  text-transform: uppercase;
  color: #361F0D;
  margin-bottom: 30px;
}
.section__product-tabs .table__container .table__content {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
  border: 1px solid #AAABAC;
  border-width: 0 0 1px 0;
}
.section__product-tabs .table__container .table__content .table__row {
  display: flex;
}
@media (max-width: 768px) {
  .section__product-tabs .table__container .table__content .table__row {
    flex-direction: column;
  }
}
.section__product-tabs .table__container .table__content .table__row .table__cell-header {
  display: flex;
  align-items: center;
  flex: 1 0 35%;
  padding: 32px 32px 32px 70px;
  border: 1px solid #AAABAC;
  border-width: 1px 1px 0 1px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: black;
}
@media (max-width: 1200px) {
  .section__product-tabs .table__container .table__content .table__row .table__cell-header {
    padding-left: 16px;
    padding-right: 16px;
  }
}
.section__product-tabs .table__container .table__content .table__row .table__cell-content {
  display: flex;
  flex: 1 1 65%;
  align-items: center;
  padding: 20px 32px;
  border: 1px solid #AAABAC;
  border-width: 1px 1px 0 0;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  color: #7C7C7C;
}
@media (max-width: 1200px) {
  .section__product-tabs .table__container .table__content .table__row .table__cell-content {
    padding-left: 16px;
    padding-right: 16px;
    border-left-width: 1px;
  }
}
.section__product-tabs .table__container .table__price-title {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  font-size: 18px;
  line-height: 24px;
  color: #0C884C;
  margin-bottom: 12px;
}
.section__product-tabs .table__container .table__price-text {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  font-size: 24px;
  line-height: 24px;
  color: #0C884C;
  text-transform: uppercase;
}

/*# sourceMappingURL=styles.css.map */
